WebClient/Connected Services/ServiceReference1/BmiService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="BmiService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56971/BmiService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56971/BmiService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56971/BmiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoapService" />
      <xsd:import schemaLocation="http://localhost:56971/BmiService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBmiService_myBMI_InputMessage">
    <wsdl:part name="parameters" element="tns:myBMI" />
  </wsdl:message>
  <wsdl:message name="IBmiService_myBMI_OutputMessage">
    <wsdl:part name="parameters" element="tns:myBMIResponse" />
  </wsdl:message>
  <wsdl:message name="IBmiService_myHealth_InputMessage">
    <wsdl:part name="parameters" element="tns:myHealth" />
  </wsdl:message>
  <wsdl:message name="IBmiService_myHealth_OutputMessage">
    <wsdl:part name="parameters" element="tns:myHealthResponse" />
  </wsdl:message>
  <wsdl:portType name="IBmiService">
    <wsdl:operation name="myBMI">
      <wsdl:input wsaw:Action="http://tempuri.org/IBmiService/myBMI" message="tns:IBmiService_myBMI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBmiService/myBMIResponse" message="tns:IBmiService_myBMI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="myHealth">
      <wsdl:input wsaw:Action="http://tempuri.org/IBmiService/myHealth" message="tns:IBmiService_myHealth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBmiService/myHealthResponse" message="tns:IBmiService_myHealth_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBmiService" type="tns:IBmiService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="myBMI">
      <soap:operation soapAction="http://tempuri.org/IBmiService/myBMI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="myHealth">
      <soap:operation soapAction="http://tempuri.org/IBmiService/myHealth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BmiService">
    <wsdl:port name="BasicHttpBinding_IBmiService" binding="tns:BasicHttpBinding_IBmiService">
      <soap:address location="http://localhost:56971/BmiService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>