WebClient/Connected Services/ServiceReference1/BmiService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SoapService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SoapService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56971/BmiService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="BMI">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bmi" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="More" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Risk" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BMI" nillable="true" type="tns:BMI" />
</xs:schema>